* {
  background-color: black;
  color: aqua;
  font-family: monospace;
}
.card {
  border: 5px solid yellow;
  box-shadow: 10px 10px 30px yellowgreen;
  padding: 40px;
  width: 500px;
  margin: 200px auto;
  border-radius: 20px;
}
nav {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.h1n {
  font-family: sans-serif;
  background: linear-gradient(90deg, #00ffff, #39ff14);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.list {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  font-family: monospace;
}
.img {
  height: 60px;
  width: 60px;
}
