* {
  background-color: black;
  color: aqua;
  font-family: monospace;
  transition: all 0.3s ease-in;
}
.card {
  border: 5px solid yellow;
  box-shadow: 10px 10px 30px yellowgreen;
  padding: 40px;
  width: 500px;
  margin: 200px auto;
  border-radius: 20px;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 40px yellowgreen;
}
nav {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.h1n:hover {
  transform: scale(1.08);
}

.h1n {
  font-family: sans-serif;
  background: linear-gradient(90deg, #39ff14, #00ffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.list {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  font-family: monospace;
}
.img {
  height: 60px;
  width: 60px;
  animation: spin 4s linear infinite;
  filter: drop-shadow(0 0 10px yellow);
  border-radius: 50%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: medium;
  font-family: monospace;
  background: linear-gradient(90deg, #39ff14, #00ffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
